body {
 background: #262732;
 color: white;
}

a {
  color: #005a55;
}

.header {
  background: white;
  overflow: hidden;
  vertical-align: baseline;
  padding: 10px 40px;
}

.header-nav {
  line-height: 34px;
  float: right;
}

.header-logo {
  float: left;
}

.header-title {
  line-height: 34px;
  font-size: 20px;
}

.header-nav-link {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 700;
}

.content {
  padding: 0 40px;
  color: #2e2f41;
}

.content-wrapper {
  background: white;
  padding: 10px;
}

.flash-alert {
  font-size: 20px;
  color: #dc554f;
  word-wrap: break-word;
}

.flash-notice {
  font-size: 20px;
  color: #00FF00;
  word-wrap: break-word;
}
